<html>
<head>
    <meta charset="UTF-8">
    <title>pan</title>
    <link href="https://cdn.bootcss.com/element-ui/2.13.0/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.13.0/index.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

    <style>
        body{
        }
        #app{
            height: 100%;
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;
            overflow: hidden;
        }
        .sidebar{
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 60px;
            color: #f4f4f4;
            background-color: #26282b;
        }
        .cq-my-header{
            width: 35px;
            height: 35px;
            margin: auto;
            margin-top: 17px!important;
        }
        .cq-my-header img{
            width: 100%;
            height: 100%;
            user-select: none;
            border-radius: 2px;


        }

        .win-control{
            position: fixed;
            z-index: 9;
            top: 0;
            right: 0;
            display: flex;
            height: 30px;
        }
        .cq-win-cbtn{
            width: 20px;
            height: 20px;
            font-size: 13px;
            font-weight: 900;
            color: grey;
            line-height: 20px;
            padding: 5px;
            text-align: center;
        }

        .cq-win-cbtn-acss{
            width: 20px;
            height: 20px;
            font-size: 13px;
            font-weight: 900;
            color: grey;
            line-height: 20px;
            padding: 5px;
            text-align: center;
        }
        .cq-win-cbtn:hover{
            background: #f3483d;
        }
        .cq-win-cbtn-acss-hover{
            background: darkgray;
        }

        .nodrag{
            -webkit-app-region: no-drag;
        }
        .cq-wc-ico{
            line-height: 1.5!important;
        }
        .drag{
            -webkit-app-region: drag
        }

        .cq-side-tool {
            margin: 0;
            margin-top: 10px;
            padding: 10px 19px 10px 19px;
        }

        .cq-side-bar {
            margin: 0;
            margin-top: 17px;
            padding: 0;
            height: calc(100% - 100px);
        }

        .cq-side-setting {
            height: 48px;
        }

        .down-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-indent: 1em;
            font-size: 14px;
            color: rgb(102, 102, 102);
        }
    </style>
</head>
<body >

<div id="app"  style="background: rgba(235,235,235,0);" >


    <div style="position: fixed;top: 0;left: 0;height: 100%;width: 100%;background:url( timg.gif);background-repeat: no-repeat;
    background-size: 100% 100%;" v-show="loading">

    </div>

    <div class="top-tittle drag"  style="position: fixed;top:0;left: 60px;width:100% ;height:60px;line-height:30px;z-index: 1" v-show="!loading">
        <span style="margin-right: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-indent: 1em;
            font-size: 14px;
            font-weight: 700;
            color: #666;">百度云盘下载器 v0.0.1  </span>
    </div>
    <div class="win-control nodrag" v-show="!loading">

        <div  class="cq-win-cbtn-acss " @click="winControl('min',$event)" @mouseover="winControlOver($event)" @mouseout="winControlOut($event)"><i class="el-icon-minus cq-wc-ico"></i></div>
        <div  class="cq-win-cbtn-acss" @click="winControl('max',$event)" @mouseover="winControlOver($event)" @mouseout="winControlOut($event)"><i class="el-icon-copy-document cq-wc-ico"></i></div>
        <div class="cq-win-cbtn " @click="winControl('close',$event)" @mouseover="winControlOver($event)" @mouseout="winControlOut($event)">
            <i class="el-icon-close cq-wc-ico"></i>
        </div>
    </div>
    <div style="position: fixed;
                            width: 400px;
                            height: 200px;
                            top: calc(50% - 200px);
                            left: calc(50% - 200px);
                            z-index: 9999999;
                            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
                            padding: 40px;
                            border-radius: 10px;
                            background: #fff;
                           "
         v-show="settingpre">
        <div>

            <div style="width: 20px;height: 20px;border-radius: 50%;background: red;position: absolute;right: 10px;top: 10px;"  @click="settingpre=!settingpre"></div>
            <div>下载地址：</div>
            <el-input v-model="downLoadPath"></el-input>
<!--            <input type="file" id="downpath"  webkitdirectory directory />-->
        </div>

    </div>


    <div style="position:fixed;right: 0;bottom: 0;width: 300px;
        width: 500px;
    top: auto;
    bottom: 0px;
    left: auto;
    right: 30px;
    display: block;
    visibility: visible;
    z-index: 42;
        border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: -2px;
">
        <div style="background-color: #FAFDFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #D0DFE7;
    height: 44px;
    line-height: 44px;
    font-weight: 200;"
        v-show="!loading"
        >
            <span style="display: block;
            margin-right: 50px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-indent: 1em;
            font-size: 14px;
            font-weight: 700;
            color: #666;" >
                <em class="select-text">下载列表</em>
            </span>
            <div style="position: absolute;top: 0;right: 114px;" >
                <em class="select-text">正在下载:{{ariaStatus.numActive}}</em>
                <em class="select-text">({{ariaStatus.downloadSpeed}})  </em>
            </div>
            <div style="top: 13px;
                        right: 30px;
                        position: absolute;">
                <i class="el-icon-setting"   @click="settingpre=!settingpre"></i>
            </div>
            <div style="top: 13px;
                        right: 12px;
                        position: absolute;">
                <i class="el-icon-arrow-down" v-show="openDownLoad"  @click="openDownLoad=!openDownLoad"></i>
                <i class="el-icon-arrow-up"  v-show="!openDownLoad" @click="openDownLoad=!openDownLoad"></i>
            </div>
        </div>
        <div v-show="openDownLoad"  style="overflow-y:auto;max-height: 600px; ">
            <div  v-for="task in taskList" style="display: flex;
                                                    padding: 20px;
                                                    background: wheat;
                                                    line-line-height: 30px;
                                                    justify-content: space-between;

">
                <div class="down-text" style="width: 35%;">

                    <el-tooltip :content="task['filename']" placement="top">
                        <div>{{task['filename']}}</div>
                    </el-tooltip>
                </div>
                <div style="width: 30%;" v-show="task.status!=3">
                    <el-progress   style="padding-left: 15px;" :text-inside="true" :stroke-width="26" :percentage="task.process"></el-progress>
                </div>
                <div style="    padding-left: 30px;padding-top: 4px; padding-right: 30px;"  class="down-text" v-show="task.status==0">{{task['speed']}}/s</div>
                <div style="    padding-top: 4px;padding-left: 30px;padding-right: 30px;"  class="down-text" v-show="task.status==5">已完成</div>
                <div style="    padding-top: 4px;padding-left: 30px;padding-right: 30px;"  class="down-text" v-show="task.status==3">下载错误</div>
                <div style="    padding-top: 4px;padding-left: 30px;padding-right: 30px;"  class="down-text" v-show="task.status==1">等待下载</div>

                <div style="display: flex;">
                    <!--                暂停-->
                    <div style="margin: 4px;width: 20px;height: 20px;background: rgb(255, 152, 0);border-radius: 50%;"  class="down-text" @click="pauseTask(task)"  v-show="task.status==0">
                    </div>
                    <!--                启动-->
                    <div style="margin: 4px;width: 20px;height: 20px;background: #4caf50;border-radius: 50%;"  class="down-text" @click="unpauseTask(task)" v-show="task.status==2">
                    </div>

                    <!--                删除-->
                    <div style="margin: 4px;width: 20px;height: 20px;background: rgb(244, 67, 54);border-radius: 50%;"  class="down-text" @click="removeTask(task)">
                    </div>

                </div>


            </div>
        </div>

    </div>


<!--        <webview class="nodrag" src="https://pan.baidu.com/"  style="position: fixed;top:0;left: 0;width: 100%;height: 100%;"></webview>-->



    <webview id="foo" src=""  style="position:fixed;top:30px;left:0px;width:100%  ;height: calc(100% - 30px);z-index: 2;" nodeintegration nodeintegrationinsubframes ></webview>




</div>
<script>
    const ipcRenderer = require('electron').ipcRenderer;

    // Create a server object with options
    var websocket = require('./websocket');
    const {resolve} = require('path')
    const path = require('path')







    var vueobj=new Vue({
        el:"#app",
        data(){
            return {
                tools:[
                    {toolIcon:'el-icon-chat-dot-round'},
                    {toolIcon:'el-icon-user'},
                ],
                loading:true,
                hello:"nihao",
                openDownLoad:false,
                settingpre:false,
                taskList:[

                ],
                downLoadPath:"",
                ariaStatus:{
                    downloadSpeed: "0 B/s",
                    numActive: "0",
                    numStopped: "0",
                    numStoppedTotal: "0",
                    numWaiting: "0",
                    uploadSpeed: "0",
                }
            };
        },
        methods:{

            winControl(arg,event){
                event.currentTarget.classList.remove("cq-win-cbtn-acss-hover")
                ipcRenderer.send('win-control-message', arg);

            },
            winControlOver(event){

                event.currentTarget.classList.add("cq-win-cbtn-acss-hover")
            },
            winControlOut(event){
                event.currentTarget.classList.remove("cq-win-cbtn-acss-hover")
            },
            pauseTask(task){
                websocket.connect(function() {
                    websocket.send({
                        "method": "aria2.forcePause",
                        "params": [
                            "token:rorochen-download",
                            task.gid

                        ]
                    }, function(result) {
                        console.log(result);
                    });
                });
            },
            unpauseTask(task){
                websocket.connect(function() {
                    websocket.send({
                        "method": "aria2.unpause",
                        "params": [
                            "token:rorochen-download",
                            task.gid

                        ]
                    }, function(result) {
                        console.log(result);
                    });
                });
            },
            removeTask(task){
                var method="";
                if(task.status<3){
                    method="aria2.forceRemove"
                }else {
                    method="aria2.removeDownloadResult"
                }
                websocket.connect(function() {
                    websocket.send({
                        "method": method,
                        "params": [
                            "token:rorochen-download",
                            task.gid

                        ]
                    }, function(result) {
                        for(var i=0;i<vueobj.taskList.length;i++){
                            if(vueobj.taskList[i].gid==task.gid){
                                vueobj.taskList.splice(i,1);
                                break;
                            }
                        }
                        console.log(result);
                    });
            })
            },
        },
        watch:{
            "downLoadPath":function (nVal) {
                console.log("nVal",nVal)
                localStorage.setItem("downloadPath",nVal);

            }
        }
    })
    ipcRenderer.send("get-aria2c-status","");

    ipcRenderer.on('response-aria2c-status', function(event, arg) {
        if(arg.status){

        }else {
            vueobj.$message({
                showClose: true,
                message: 'aria2c下载服务器启动失败'+arg.msg,
                type: 'error'
            });

        }
    });

    if(localStorage.getItem("downloadPath")!=null){
        vueobj.downLoadPath=localStorage.getItem("downloadPath");
    }else {
        let download = resolve(__dirname,  "../../download");//打包
        // let download =  resolve(__dirname,"./download");//未打包
        console.log("download",download);

        vueobj.downLoadPath=download;
    }



        onload = () => {
           var webview = document.querySelector('#foo')
               // webview.openDevTools()

            webview.addEventListener('new-window', (e) => {

                const protocol = require('url').parse(e.url).protocol;
                if (protocol === 'http:' || protocol === 'https:') {
                    webview.src = e.url;
                    ipcRenderer.send("set-key-cookie","")
                }
            });

            webview.addEventListener('dom-ready', (e) => {
               if(webview.src.includes("https://pan.baidu.com/disk/home")){

                   ipcRenderer.send("set-key-cookie","")
                   webview.executeJavaScript(
                       "  const ipcRenderer =module.require('electron').ipcRenderer;" +
                       "  let task = setInterval(() => {\n" +
                       "    let dom, t = document.querySelector(\"a.g-button[data-button-id][title=\u4e0b\u8f7d]\");\n" +
                       "    if (t) {\n" +
                       "      clearInterval(task);\n" +
                       "      dom = t.cloneNode(true);\n" +
                       "      t.after(dom);\n" +
                       "      dom.removeAttribute(\"style\");\n" +
                       "      t.remove();\n" +
                       "      dom.addEventListener(\"click\", () => {\n" +
                       "        let dom = window.event.currentTarget, arr = require(\"system-core:context/context.js\").instanceForSystem.list.getSelected();\n" +
                                   // "var files=require(\"system-core:context/context.js\").instanceForSystem.list.getSelected()[0];"+
                                   "var files=require(\"system-core:context/context.js\").instanceForSystem.list.getSelected();"+
                                   "for(var i=0;i<files.length;i++){" +
                                        "ipcRenderer.sendToHost('request-task',{path:files[i].path,server_filename:files[i].server_filename} )"+
                                    "}"+
                                   "console.log(files);"+
                                   // "ipcRenderer.sendToHost('request-task',{path:file.path,server_filename:file.server_filename} )"+
                       "      });\n" +
                       "    }\n" +
                       "  }, 10);"
                   ,true);
               }
            });



            // webview.addEventListener('console-message', function(e) {
            //
            //     if(e.message.startsWith("Cookie:")){
            //         var taskStrings=e.message.split("-");
            //         var cookie=taskStrings[0]
            //         var path=taskStrings[1]
            //         var server_filename=taskStrings[2]
            //         var downLoadPath="C:\\Users\\chenqi\\IdeaProjects"
            //         var task={
            //             path:path,
            //             server_filename:server_filename,
            //             downLoadPath:downLoadPath,
            //         }
            //         ipcRenderer.send(
            //             "get-key-cookie",task
            //         )
            //
            //     }
            // });
            setTimeout(function(){
                webview.getWebContents().loadURL('https://pan.baidu.com/')
                document.getElementById("app").style.cssText="background: #eeeeee;"
                ipcRenderer.send("get-aria2c-status","");
                ipcRenderer.send("win-maxed",{});
                vueobj.loading=false;

                }, 3000);


            webview.addEventListener('ipc-message', function(event) {
                console.log(event.channel);
                console.log(event.args );
                if(event.channel=='request-task'){
                    event.args[0].downLoadPath=vueobj.downLoadPath
                    ipcRenderer.send(
                        "get-key-cookie",event.args
                    )


                }
                // Prints "pong"
            });



        }

        ipcRenderer.on('start-task', function(event, arg) {
            // runExec(arg.server_filename,arg.path,arg.downLoadPath,arg.cookie)
            console.log("任务参数",arg)
            console.log({
                "method": "aria2.addUri",
                "params": [
                    "token:rorochen-download",
                    [ "http://pcs.baidu.com/rest/2.0/pcs/file?method=download&app_id=778750&path="+encodeURIComponent(arg[0].path)],
                    {
                        header:"Cookie:"+arg[0].cookie,
                        "user-agent":"Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36",
                        out: arg[0].server_filename,
                        dir: arg[0].downLoadPath
                    },

                ]
            })
            vueobj.openDownLoad=true
            websocket.connect(function() {
                websocket.send({
                    "method": "aria2.addUri",
                    "params": [
                        "token:rorochen-download",
                        [ "http://pcs.baidu.com/rest/2.0/pcs/file?method=download&app_id=778750&path="+encodeURIComponent(arg[0].path)],
                        {
                            header:"Cookie:"+arg[0].cookie,
                            "user-agent":"Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36",
                            out: arg[0].server_filename,
                            dir: arg[0].downLoadPath
                        },

                    ]
                }, function(result) {
                    console.log(result);
                    var task={
                        gid:result.obj.result,
                        filename:arg[0].server_filename,
                        status:0,
                        process:0,
                        speed:"0b"
                    };
                    vueobj.taskList.push(task)
                });
            });


        })


    let aria2StatusTask=setInterval(function () {
        // var statusRequest={"jsonrpc": "2.0", "method": "system.multicall",
        //     "params": [
        //     [
        //         {methodName: "aria2.tellActive", params: ["token:rorochen-download"]},
        //         {methodName: "aria2.tellWaiting", params: ["token:rorochen-download", 0, 1000]},
        //         {methodName: "aria2.tellStopped", params: ["token:rorochen-download", 0, 1000]},
        //         {methodName: "aria2.getGlobalStat", params: ["token:rorochen-download"]},
        //     ]
        //
        // ], "id":guid()};
        websocket.connect(function() {
            websocket.send({
                "method": "system.multicall",
                "params": [
                    [
                        {methodName: "aria2.tellActive", params: ["token:rorochen-download"]},
                        {methodName: "aria2.tellWaiting", params: ["token:rorochen-download", 0, 1000]},
                        {methodName: "aria2.tellStopped", params: ["token:rorochen-download", 0, 1000]},
                        {methodName: "aria2.getGlobalStat", params: ["token:rorochen-download"]},
                    ]
                ]
            }, function(result) {
                console.log(res);
                var res=result.obj
                try{
                    res['result'][3][0].downloadSpeed=fmtsize(parseInt(res['result'][3][0].downloadSpeed))+"/s"
                    vueobj.ariaStatus=res['result'][3][0]
                    console.log("vueobj.ariaStatus",vueobj.ariaStatus)

                    // res['result'][0][0].forEach(function (item) {
                    //     console.log(item)
                    //     console.log(vueobj.taskList)
                    //     for(var i=0;i<vueobj.taskList.length;i++){
                    //         if(vueobj.taskList[i].gid==item.gid){
                    //             vueobj.taskList[i].speed= fmtsize(parseInt(item.downloadSpeed));
                    //             vueobj.taskList[i].process=parseInt(parseInt(item.completedLength)/parseInt(item.totalLength)*100)
                    //             vueobj.taskList[i].status=getStatus(item.status)
                    //             break;
                    //         }
                    //     }
                    // });
                    for(var k=0;k<3;k++){
                        for(var j=0;j<res['result'][k][0].length;j++){
                            var item=res['result'][k][0][j];
                            for(var i=0;i<vueobj.taskList.length;i++){
                                if(vueobj.taskList[i].gid==item.gid){
                                    vueobj.taskList[i].speed= fmtsize(parseInt(item.downloadSpeed));
                                    vueobj.taskList[i].process=parseInt(parseInt(item.completedLength)/parseInt(item.totalLength)*100)
                                    vueobj.taskList[i].status=getStatus(item.status)
                                    break;
                                }
                                if((i+1)==vueobj.taskList.length){
                                    var task={
                                        gid:item.gid,
                                        filename:getFileName(item.files[0].path),
                                        status:getStatus(item.status),
                                        process:parseInt(parseInt(item.completedLength)/parseInt(item.totalLength)*100),
                                        speed:fmtsize(parseInt(item.downloadSpeed))
                                    };
                                    vueobj.taskList.push(task)
                                }
                            }
                            if(vueobj.taskList.length==0){
                                var task={
                                    gid:item.gid,
                                    filename:getFileName(item.files[0].path),
                                    status:getStatus(item.status),
                                    process:parseInt(parseInt(item.completedLength)/parseInt(item.totalLength)*100),
                                    speed:fmtsize(parseInt(item.downloadSpeed))
                                };
                                vueobj.taskList.push(task)
                            }

                        }
                    }


                }catch (e) {
                    console.log("status获取失败",e);
                }
            });
        });



    },500)


    function getFileName(e) {
        var t = e.split(/[/\\]/);
        return t[t.length - 1];
    }
    function fmtsize(e) {
        return (e = +e) <= 1024
            ? e.toFixed(0) + " B"
            : (e /= 1024) <= 1024
                ? e.toFixed(1) + " KB"
                : (e /= 1024) <= 1024
                    ? e.toFixed(2) + " MB"
                    : (e /= 1024).toFixed(3) + "GB"
    }

    
    function getStatus(statusName) {
        var status={
            "active":0,
            "waiting":1,
            "paused":2,
            "error":3,
            "removed":4,
            "complete":5,
        }
        return status[statusName];


    }

</script>

</body>
</html>